.modal-background {
  position: absolute;
  display:flex;
  align-items: center;
  justify-content:center;
  background-color: rgb(2,2,2,0.6);
  top: 180px;
  bottom: 180px;
  left: 0;
  right: 0;
}

.modal-content {
  background-color: rgba(7,7,7,0.11);
  height:100%;
  width: 45%;
}

h1 {
  color: white
}