.ecm-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 40px 15px;
}

.ecm-wrapper .ecm-inner-card {
  color: white;
  justify-content: end;
  position:relative;
  min-width: 320px;
  height: 420px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 
    inset 5px 5px 15px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(255,255,255,0.1),
          5px 5px 15px rgba(0,0,0,0.2),
          -5px -5px 15px rgba(255,255,255,0.1);
}

.ecm-wrapper .ecm-inner-card .ecm-card-box {
  text-decoration: none;
  display:flex;
  flex-direction:column;
  position:absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: rgb(50, 50, 61, .2);
  border: 2px solid  rgb(30, 30, 32, .8);
  border-radius: 9px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  transition: 400ms ease-in-out;
}

.ecm-wrapper .ecm-inner-card .ecm-card-box:hover {
  transform:translateY(-28px);
  background: rgb(42,43,47, .5);
  box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}

.ecm-wrapper .ecm-inner-card .ecm-card-box .ecm-card-content {
  padding: 8px;
  align-items: center;
  text-align:center;
}


.ecm-title {
  font-size:x-large;
}
.ecm-main-img {
  width:190px;
  height:190px;
  margin: 4px;
}

.ecm-price {
  position:absolute;
  bottom: 0;
  right:3px;
  margin: 2px 2px;
  color: rgba(144, 144, 144, 0.1);
  justify-self: center;
  align-self: flex-end;
  font-size: 45px;
  z-index: -1;
  transition: 400ms ease-in-out;
}

.ecm-card-link:hover h4 {
  color: rgba(255, 255, 255, 0.883)
}

.event-card-link {
  text-decoration: none;
  color: white;
}
