.event-page-wrapper {
  padding: 8px;
  margin:12px;
}

.sidebar-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
}

.single-event-img {
  height:640px;
  width:1024px;
}

.image-sidebar {
  display: flex;
  color: white;
  flex-direction:row;
}

.comms-div {
display:flex;
flex-direction: row;
max-height: 700px
}

.comments-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow-y: Scroll;
  width: 100%;

}
.comments-section::-webkit-scrollbar {
  display: none;
}

.post-comment-btn {
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  width: 200px;
  height:24px;
  text-align: center;
}

.post-comment-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
}

textarea {
  height:100px;
  width:405px;
}

.widgetbot {
  height: 680px;
  width: 1024px;
}

