/* TODO Add site wide styles */


body {
  background: rgb(35,36,36);
  padding: 5px;
  margin: 5px;
}

.navbar {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgrey;
}