.carousel-wrapper {
  /* background: rgb(35, 36, 39); */
  display: flex;
  flex-direction:column;
  align-items: center;
  color: white;
}

.carousel-cards {
  display:flex;
}

.carousel-btn {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container {
  padding: 20px;
  text-align: center;
}

.left-arrow {
  transform: rotate(90deg);
}

.right-arrow {
  transform: rotate(270deg);
}

#more-arrows {
  width: 75px;
  height: 65px;
}

#more-arrows:hover polygon {
  fill: #FFF;
  transition: all 0.2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  fill: #FFF;
  transition: all 0.2s ease-out;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}