
.profile-page-wrapper {
  display:grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-template-rows: 2;
  grid-template: 
  '. photo stats .'
  '. attend host .'
}

.photo {
  grid-area: photo;
}

.stats {
  grid-area: stats;
}

.attend {
  grid-area: attend;
  max-width: 45%;
}

.host {
  grid-area: host;
  max-width: 45%;
}

.profile-avatar {
  width: 480px;
  height: 480px;
  
}

.user-events {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebar-username {
  min-width: 100%;
}

.post-event-btn {
  width: 130px;
  border: none;
  padding: 10px 20px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
}
