.loading-image {
  height: 60px;
  width: 60px;
}

.login-btn {
  width: 65px;
  background: transparent;
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px 20px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  outline: none;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}

.confirm-btn {
  align-self: center;
  margin: 5px;
  width: 205px;
  background: transparent;
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px 20px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  outline: none;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
}

.tickets-btn {
  margin: 5px;
  width: 45px;
  background: transparent;
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px 20px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  outline: none;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
}

.select-tickets {
  display:flex;
}

.login-form,
.signup-form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.login-form h2,
.signup-form h2 {
  position: relative;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.login-form h2:before,
.signup-form h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 50px;
  height: 4px;
  background: #fff;
}

.login-form .login-input,
.signup-form .signup-input {
  width: 100%;
  margin-top: 20px;
}

.login-form .login-input input,
.signup-form .signup-input input {
  width: 90%;
  background: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
}

.login-form .login-input input::placeholder,
.signup-form .signup-input input::placeholder {
  color: #fff;
}

.login-form .login-input input[type="submit"],
.signup-form .signup-input input[type="submit"] {
  background: #fff;
  color: #666;
  border: none;
  font-weight: 600;
  max-width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
}

.square {
  position: absolute;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(236, 89, 4, 0.781);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: drift 7s linear infinite;
  z-index: 1000;
}

@keyframes drift {
  0%,
  100% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(25px);
  }
}

.square-1 {
  top: -45px;
  left: 370px;
  height: 75px;
  width: 75px;
  animation-delay: -1s;
  background-image:linear-gradient(to top right, #FF488A, #FFB198);
}
.square-2 {
  top: 150px;
  left: -80px;
  height: 100px;
  width: 100px;
  animation-delay: -2s;
  background-image:linear-gradient(to bottom left, #FFB198, #FF488A);
}
.square-3 {
  top: 285px;
  left: 395px;
  height: 60px;
  width: 60px;
  animation-delay: -3s;
  background-image:linear-gradient(to top left, #FF488A, #FFB198 );
}
.square-4 {
  top: -80px;
  left: 80px;
  height: 40px;
  width: 40px;
  animation-delay: -4s;
  background-image:linear-gradient(to top right, #FF488A, #FFB198);
}
.square-5 {
  top: 530px;
  left: 100px;
  height: 55px;
  width: 55px;
  animation-delay: -5s;
  background-image:linear-gradient(to bottom right, #FFB198, #FF488A);
}